@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body{
    font-family: "Nunito Sans" , sans-serif;
    font-weight: 400;
}

h1{
    font-family: "Nunito Sans" , sans-serif;
    font-weight: 600;
}

h2{
    font-family: "Nunito Sans" , sans-serif;
    font-weight: 600;
}

h3{
    font-family: "Nunito Sans" , sans-serif;
    font-weight: 600;
}

h4{
    font-family: "Nunito Sans" , sans-serif;
    font-weight: 600;
}

h5{
    font-family: "Nunito Sans" , sans-serif;
    font-weight: 600;
}