footer{
    background-color: #232527;
    width: 100%;
    margin-top: 1.5em;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
footer div{
    padding-top: 50px;
}

.bi{
    color: grey;
}

.bi:hover{
    color: white;
}

footer li{
    list-style-type: none;
    margin-left: -30px;
}

footer a{
    color: white;
    text-decoration: none;
}

#Fadress{
    line-height: 0.5;
}

h5{
    margin-bottom: 16px;
}

.icon{
    margin-top: 5px;
    padding-top: 20px;
}

#Igithub{
    width: 35px;
    height: 35px;
}

#Itwitter{
    width: 35px;
    height: 35px;
}

#Ilinkedin{
    width: 35px;
    height: 35px;
}
@media (max-width:520px){
    footer{
        flex-direction: column;
    }
    footer div{
        margin-left: 30px;
    }
}