main{
    background-color: white;
}

.image-title{
    position: relative;
}

h1{
    position: absolute;
    color:white;
    top: 40%;
    left: 50%;
    transform: translate(-50% , -50%);
    
}

h2{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    
}
button{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50% , -50%);
}