img{
    width: 100%;
}

h1{
    text-align: center;
    margin-top: 2%;
}

.title-text{
    text-align: center;
}

.line{
    
    border: 3px solid rgb(63, 122, 233);
    opacity: 1;
    width: 30%;
    margin: auto;
  
}
.row{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}


.card{
    text-align: center;
}

.card:hover{
    background-color: #efefef;
    box-shadow: 3px 3px 5px 2px rgb(238, 231, 231), -3px -3px 5px 2px rgb(238, 231, 231);
}

.btn:hover{
    opacity: 0.5;
}