img{
    width: 100%;
}

h1{
    text-align: center;
    margin-top: 30px;
}

.text{
    text-align: center;
}

.line{
    
    border: 3px solid rgb(63, 122, 233);
    opacity: 1;
    width: 40%;
    margin: auto;
  
}
.service{
    display: flex;
    flex-direction: row;
    margin-top: 5em;
    justify-content:center;
}
#icon{
    color: rgb(12, 12, 235);
    margin: auto;
    margin-top: 3em;
    margin-bottom: 3em;
}
h4{
    text-align: center;
}

.card-text{
    text-align: center;
    font-size: 0.9em;
}
.card{
    margin-left: 0.5%;
    margin-right: 0.5%;
    
}

.card:hover{
    background-color:#efefef;
    box-shadow: 3px 3px 5px 2px rgb(238, 231, 231), -3px -3px 5px 2px rgb(238, 231, 231);
}


@media (max-width:720px){
    .service{
        flex-direction: column;
    }
    .card{
        width: 90%;
        margin: auto;
        margin-top: 1%;
        margin-bottom: 1%;
        
    }
    .text{
        font-size: 0.5;
    }
   
}